<%- include("partials/header.ejs") %>


<h1>About Me</h1>
<img class="profile" src="images/lar.jpeg" alt="lokesh profile">
<p>
<h2><b>Area of Interest</b></h2>
    
      Computer Programming<br />
      Artifical Intelligence<br />
      Data Analyst<br />
      Web Development<br />

<h2><b>Technical Skill</b></h2>
    
      Front-end:Html,CSS,JavaScript<br />
      Back-end :node,EJS,web3,python<br />
      Database :mongoDB,DApps<br />
      Operating System : Windows<br />
    

<h2><b>Interpersonal Skills</b></h2>
  
      Extremely Organized<br />
      Self Motivated<br />
      Time Management<br />
      Flexible<br />
   

<h2><b>Extra-Curricular Activities & Achievment's</b></h2>

  I'm been a part of <b>NATIONAL SERVICE SCHEME(NSS)</b>during my 11th grade.<br />
  I have won <b>FIRST PLACE</b> IN "MATHS PROJECT"during my 9th grade.<br />
  I was <b>TOPPER</b> in college during <b>2nd year</b>and <b>3rd semester</b>.<br />
  I have got certificate in <b>CRICKET</b> as ALL-ROUNDER.<br />
  I have won <b>2nd place</b> in <b>ABACUS</b>.<br />


<h2><b>Personal Info</b></h2>
  
    Language's Known : Tamil,English,French<br />
    My Hobbies are playing Cricket,Badmittion,and Listening to music.<br />
  
</p>

<%- include("partials/footer.ejs") %>