<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>
    Hi, I'm R.Lokesh Aravind, I have born On 29 may 2003,I'm 20 years old,
    I did My schooling at "ST.MARY'S Anglo Indian Higher Secondary School",
    I currently pursing my college at "Jeppiaar Engineering College" from 2020-2024 batch,
    I have completed my project during my 6th semester title is "CRIME REPORT MANAGEMENT SYSTEM".
    I have a passion in Web Development. 
    I have a complete a FULL STACK  DEVELOPMENT COURSE IN UDEMY (teach  by Angela Yu's) 
    and I will be a Full Stck Developer in up comming year!!
  </p>
  <%- include("partials/footer.ejs") %>